body {
    background-color: #041266;
    /* Substitua pelo código de cor ou nome da cor desejada */
    color: #ffffff;
    /* Cor do texto para garantir contraste adequado */
    font-family: Arial, sans-serif;
    /* Exemplo de configuração da fonte */
    margin: 0;
    /* Remova a margem padrão do corpo para evitar espaçamento indesejado */
}

.imagem-com-fundo {
    background-color: white;
    padding: 10px;
    height: 85px;
    /* Altura do contêiner */
    display: flex;
    align-items: center;
    /* Alinha os itens verticalmente ao centro */
}

#Botaoapresentacao {
    margin-left: 25%;
}



#poloimg {
    margin-left: 40%;
}

.imagem-com-fundo img {
    max-width: 100%;
    height: auto;
    margin-left: 65px;
    /* Adiciona espaço à direita da imagem */
}

h2 {
    color: #EC0E73;
    font-size: 50px;
    text-align: center;
    font-family: 'Bw Seido Raw Black';
}

h4 {
    font-family: "SourceSansPro Light";
    font-size: 20px;
    margin-left: 39%;
}

#h2formulario {
    color: #EC0E73;
    text-align: center;
    font-family: 'Bw Seido Raw Black';
    margin: 0;
    margin-left: 23%;
}


h3 {
    color: #EC0E73;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    /* Remove a margem padrão do h2 */
}

h5 {
    color: #EC0E73;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    /* Remove a margem padrão do h2 */
}

.painel {
    background-color: #041266;
    
    margin-right: 10%;
    margin-left: 10%;
}

#academy {
    height: 250px;
    width: 28%;
    margin-left: 69%;
    margin-top: -250px;
}

#Botaorh {
    margin-left: 17%;
    margin-top: -10px;
}


#Botaosistemas {
    margin-left: 290%;
}

#Botaotreinopolotrail {
    margin-top: -150px;
    margin-left: 8%;
}


#Botaopolotrail {
    margin-top: -19px;
}

#BotaoAcademy {
    margin-left: 18%;
    margin-top: -15px;
}

#Botaolgpd {
    margin-top: 10px;
    margin-left: 10%;
}

#BotaoFinanceiroPolo {
    margin-left: 18%;
    margin-top: -15px;
}




.testeconteiner {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.conteinerbotao {
    margin-top: 20px;
}

#Botaotecnologiacentral {
    margin-left: 18%;
    align-items: center;
}

#ch {
    height: 250px;
    width: 28%;
    margin-left: 36%;
    margin-top: -248px;
}

#lgpd {
    height: 250px;
    width: 28%;
    margin-left: 3%;
}


#tecnologia {
    height: 250px;
    width: 28%;
    margin-left: 69%;
    margin-top: -250px;
}

#Pops {
    height: 250px;
    width: 28%;
    margin-left: 36%;
    margin-top: -248px;
}

#FinanceiroPolo {
    height: 250px;
    width: 28%;
    margin-left: 69%;
    margin-top: -250px;
}




#Botaocontroladoria {
    margin-left: 15%;
}



#Botaoindex {
    margin-left: 33%;
}

#Botaodiretrizes {
    margin-left: 8%;
    position: relative;

}

#regulatorio {
    height: 250px;
    width: 28%;
    margin-left: 36%;
    margin-top: -250px;
}




#Botaoregulatorio {
    margin-left: 19%;
}

#Botaofeasibility {
    margin-left: 10%;
}


#imagensregulatorioQualidade {
    height: 250px;
    width: 28%;
    margin-left: 3%;
}

#imagemfeasibility {
    height: 250px;
    width: 28%;
    margin-left: 3%;
}

#Botaoqualidade {
    margin-top: 10px;
    margin-left: 9%;

}

.video {
    width: 640px;
    height: 360px;
    margin-left: 365px;
}

.video-youtube {
    width: 640px;
    height: 360px;
    margin-left: 20%;
}

/*Botões LGPD */

#lgpd-aula2 {
    margin-left: 580px;
}


#lgpd-aula3 {
    margin-left: 580px;
}

#lgpd-aula4 {
    margin-left: 540px;
}

#lgpd-aula5 {
    margin-left: 530px;
}

#lgpd-aula6 {
    margin-left: 490px;
}

#lgpd-aula7 {
    margin-left: 490px;
}

#lgpd-aula8 {
    margin-left: 570px;
}

#lgpd-aula9 {
    margin-left: 510px;
}

#lgpd-aula10 {
    margin-left: 520px;
}

#lgpd-aula11 {
    margin-left: 480px;
}

#lgpd-aula12 {
    margin-left: 480px;
}

#lgpd-aula13 {
    margin-left: 600px;
}

/*Botões */
.botao-link {
    display: inline-block;
    padding: 10px 10px;
    background-color: #EC0E73;
    /* Cor de fundo do botão */
    color: #ffffff;
    /* Cor do texto do botão */
    text-decoration: none;
    /* Remove o sublinhado padrão */
    border: none;
    /* Remove a borda padrão do botão */
    border-radius: 10px;
    /* Borda arredondada */
    cursor: pointer;
    /* Altera o cursor ao passar por cima do botão */
    font-size: 16px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Peso da fonte */
    margin-left: 75px;
    margin-bottom: 10px;
    text-align: center;
}

.botao-link:hover {
    background-color: #d1156afa;
    /* Cor de fundo quando o mouse passa por cima */
}

#botaoverificar {
    display: inline-block;
    padding: 10px 10px;
    background-color: #EC0E73;
    /* Cor de fundo do botão */
    color: #ffffff;
    /* Cor do texto do botão */
    text-decoration: none;
    /* Remove o sublinhado padrão */
    border: none;
    /* Remove a borda padrão do botão */
    border-radius: 10px;
    /* Borda arredondada */
    cursor: pointer;
    /* Altera o cursor ao passar por cima do botão */
    font-size: 16px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Peso da fonte */
    margin-left: 600px;
    margin-bottom: 10px;
    text-align: center;
    width: 140px;
}

#botaoverificar:hover {
    background-color: #d1156afa;
    /* Cor de fundo quando o mouse passa por cima */
}

.botaovideo {
    display: inline-block;
    padding: 10px 10px;
    background-color: #EC0E73;
    /* Cor de fundo do botão */
    color: #ffffff;
    /* Cor do texto do botão */
    text-decoration: none;
    /* Remove o sublinhado padrão */
    border: none;
    /* Remove a borda padrão do botão */
    border-radius: 10px;
    /* Borda arredondada */
    cursor: pointer;
    /* Altera o cursor ao passar por cima do botão */
    font-size: 16px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Peso da fonte */
    margin-left: 650px;
    margin-bottom: 10px;
}

.botaovideo:hover {
    background-color: #d1156afa;
    /* Cor de fundo quando o mouse passa por cima */
}

.botaoforms {
    display: inline-block;
    padding: 10px 10px;
    background-color: #EC0E73;
    /* Cor de fundo do botão */
    color: #ffffff;
    /* Cor do texto do botão */
    text-decoration: none;
    /* Remove o sublinhado padrão */
    border: none;
    /* Remove a borda padrão do botão */
    border-radius: 10px;
    /* Borda arredondada */
    cursor: pointer;
    /* Altera o cursor ao passar por cima do botão */
    font-size: 16px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Peso da fonte */
    margin-left: 550px;
    margin-bottom: 10px;

}

.botaoforms:hover {
    background-color: #d1156afa;
    /* Cor de fundo quando o mouse passa por cima */
}

.botaovideoEmail {
    display: inline-block;
    padding: 10px 10px;
    background-color: #EC0E73;
    /* Cor de fundo do botão */
    color: #ffffff;
    /* Cor do texto do botão */
    text-decoration: none;
    /* Remove o sublinhado padrão */
    border: none;
    /* Remove a borda padrão do botão */
    border-radius: 10px;
    /* Borda arredondada */
    cursor: pointer;
    /* Altera o cursor ao passar por cima do botão */
    font-size: 16px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Peso da fonte */
    margin-left: 600px;
    margin-bottom: 10px;
}



* {
    margin: 0;
    padding: 0;
}

.menu {
    list-style: none;
    float: left;
    display: flex;
    margin-left: 400%;
    font-family: "SourceSansPro Light";
}

.menu li {
    position: relative;
    float: right;
    border-right: 1px solid #041266;
}

.menu li a {
    color: #EC0E73;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}



.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    display: none;
    font-size: 12px;
}

.menu li:hover ul,
.menu li.over ul {
    display: block;
}

.menu li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}

/* hub tecnologia */

#tech {
    width: 350px;
    height: 50%;
    margin-left: 400px;
}

.teste {
    margin-right: 2140px;
    display: flex;
}


#Botaohubtreinamentos {
    margin-left: 30%;
}

.botao-linkhub {
    display: inline-block;
    padding: 15px 30px;
    background-color: #EC0E73;
    /* Cor de fundo do botão */
    color: #ffffff;
    /* Cor do texto do botão */
    text-decoration: none;
    /* Remove o sublinhado padrão */
    border: none;
    /* Remove a borda padrão do botão */
    border-radius: 10px;
    /* Borda arredondada */
    cursor: pointer;
    /* Altera o cursor ao passar por cima do botão */
    font-size: 20px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Peso da fonte */
    margin-left: 65px;
    margin-bottom: 10px;
}

.botao-linkhubsistema {
    padding: 26px 30px;
    background-color: #EC0E73;
    /* Cor de fundo do botão */
    color: #ffffff;
    /* Cor do texto do botão */
    text-decoration: none;
    /* Remove o sublinhado padrão */
    border: none;
    /* Remove a borda padrão do botão */
    border-radius: 10px;
    /* Borda arredondada */
    cursor: pointer;
    /* Altera o cursor ao passar por cima do botão */
    text-align: center;
    font-size: 20px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Peso da fonte */
    margin-left: 335%;
    margin-bottom: 10px;
}

.botao-linkhubcolaborador {
    display: inline-block;
    padding: 15px 15px;
    background-color: #EC0E73;
    /* Cor de fundo do botão */
    color: #ffffff;
    /* Cor do texto do botão */
    text-decoration: none;
    /* Remove o sublinhado padrão */
    border: none;
    /* Remove a borda padrão do botão */
    border-radius: 10px;
    /* Borda arredondada */
    cursor: pointer;
    /* Altera o cursor ao passar por cima do botão */
    font-size: 20px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Peso da fonte */
    margin-left: 90px;
    margin-bottom: 10px;
}

.botao-linkpolo {
    display: inline-block;
    padding: 10px 10px;
    background-color: #EC0E73;
    /* Cor de fundo do botão */
    color: #ffffff;
    /* Cor do texto do botão */
    text-decoration: none;
    /* Remove o sublinhado padrão */
    border: none;
    /* Remove a borda padrão do botão */
    border-radius: 10px;
    /* Borda arredondada */
    cursor: pointer;
    /* Altera o cursor ao passar por cima do botão */
    font-size: 15px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Peso da fonte */
    margin-left: 90px;
    margin-bottom: 10px;
}

.botao-linkpolo:hover {
    background-color: #d1156afa;
    /* Cor de fundo quando o mouse passa por cima */
}



.botao-linkhub:hover {
    background-color: #d1156afa;
    /* Cor de fundo quando o mouse passa por cima */
}

.botao-linkhubsistema:hover {
    background-color: #d1156afa;
    /* Cor de fundo quando o mouse passa por cima */
}

.botao-linkhubcolaborador:hover {
    background-color: #d1156afa;
    /* Cor de fundo quando o mouse passa por cima */
}

/*Formulário*/
form {
    display: flex;
    flex-direction: column;
}


#painelformulario {
    margin-left: 50px;
    margin-right: 40px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    ;
}

#finishButton {
    display: inline-block;
    width: 150px;
    padding: 15px 15px;
    background-color: #EC0E73;
    /* Cor de fundo do botão */
    color: #ffffff;
    /* Cor do texto do botão */
    text-decoration: none;
    /* Remove o sublinhado padrão */
    border: none;
    /* Remove a borda padrão do botão */
    border-radius: 10px;
    /* Borda arredondada */
    cursor: pointer;
    /* Altera o cursor ao passar por cima do botão */
    font-size: 20px;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Peso da fonte */
    margin-left: 600px;
    margin-bottom: 10px;
}

#Botaopop {
    margin-left: 20%;
}