body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.menu_video {
    flex: 3;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between; /* Espaça o logo e os botões */
}
.menu_video img {
    height: 60px;
}

.menu_buttons {
    display: flex;
    flex-direction: row wrap; /* Alinha os botões horizontalmente */
    gap: 10px; /* Espaço entre os botões */
}

.BtnMenu {
    background-color: #EC0E73;
    padding: 5px 25px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    border: none;
}

#painelformulario {
    flex: 2;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-evenly; /* Espaça o logo e os botões */
}

.Perguntas{
    flex: 2;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-evenly; 
}

.conjunto{
    display: flex;
    justify-content: space-around;
}

.botoes{
    display: flex;
    flex: 2;
    justify-content: space-around;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .conjunto {
        flex-direction: column;
        align-items: center;
    }
}