body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
.container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.video-section {
    flex: 3;
    margin-right: 20px;
}
.video-section iframe {
    width: 100%;
    height: 360px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.lessons-section {
    flex: 1;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 490px;
    overflow-y: auto;
}
.lessons-section h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
}
.lesson {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.lesson:hover {
    background-color: #f0f0f0;
}
.lesson:last-child {
    border-bottom: none;
}
.lesson-title {
    font-weight: bold;
    color: #333;
}
.lesson-duration {
    font-size: 0.9rem;
    color: #666;
}
.menu_video {
    flex: 1;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between; /* Espaça o logo e os botões */
}
.menu_video img {
    height: 60px;
}
.menu_buttons {
    display: flex;
    flex-direction: row wrap; /* Alinha os botões horizontalmente */
    gap: 10px; /* Espaço entre os botões */
}
.BtnMenu {
    background-color: #EC0E73;
    padding: 5px 25px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    border: none;
}
.pos_video{
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
}